@model AuthorDetailsViewModel

@{
    ViewBag.Title = "Author Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.PhotoUrl" alt="Book Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.FullName</u></p>
            <p>@Model.ShortBiography</p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Author" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Author" asp-action="Delete"
                       asp-route-id="@Model.Id" confirm="Are your sure?">Delete</a>
                    <a class="ml-2 btn btn-success" asp-controller="Author" asp-action="Favourite"
                       asp-route-id="@Model.Id">Add to favourite</a>
                }
            </div>
        </div>
    </div>
</div>
